@import "tailwindcss";

@theme{
    --color-input-white-1: #F6FBFF;
    --color-input-text-black:##8593A8;
    --color-blue-10:##3656A8;
    --color-blue-dark-10:#1565C0;
    --color-blue-background-1:#E2EDF5;
    
    
}