@import "tailwindcss";


@theme{
    --color-message-sent:rgba(97,113,137,1);
    --color-message-receive:rgba(255,255,255,1);
}
@theme{
    --color-input-white-1: #F6FBFF;
    --color-input-text-black:##8593A8;
    --color-blue-10:##3656A8;
    --color-blue-dark-10:#1565C0;
    --color-blue-background-1:#E2EDF5;
    
    
}
